<footer>
	<p>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</p>
	<a href="/" title="Home"><img src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/images/logo.png{{/if}}" title="{{@blog.title}}" /></a>
</footer>

</div>  {{!--The other half of the div is in the header, either #site-wrapper or #wrapper--}}