<header>
    <div class="{{#if post.image}}image-header" style="background-image: url({{post.image}}){{else}}single-header{{/if}}">
        <div class={{#if post.image}}"image-header-title-nav"{{else}}"header-title-nav"{{/if}}>
            <div class="header-nav">
                 <ul id={{#if post.image}}"imagearticlenavbar"{{else}}"articlenavbar"{{/if}}>
                   <li><a href="http://tombresson.com"><i class="nav-icon fa fa-home fa-lg fa-fw"></i></a></li>             
                   <li><a href="http://photos.tombresson.com"><i class="nav-icon fa fa-camera-retro fa-lg fa-fw"></i></a></li>
                   <li><a href="http://tombresson.com/projects/"><i class="nav-icon fa fa-flask fa-lg fa-fw"></i></a></li>
                   <li><a href="http://tombresson.com/about/"><i class="nav-icon fa fa-child fa-lg fa-fw"></i></a></li>
                   <li><a href="http://tombresson.com/contact/"><i class="nav-icon fa fa-inbox fa-lg fa-fw"></i></a></li>
                </ul>
            </div>
         </div>
        {{> pagination}}
        <div class="image-article-title">
            <h1 class="post-title">{{post.title}}</h1>
        </div>
    </div>
    <div class="mini-header">
        <span>
            <ul id="mininavbar">
                <li><a href="http://tombresson.com"><i class="nav-icon fa fa-home fa-lg fa-fw"></i></a></li> 
                <li><h2>{{post.title}}</h2></li>
                <li><a href="#top"><i class="nav-icon fa fa-arrow-up fa-lg fa-fw"></i></a></li> 
            </ul>
        </span>
    </div>
</header>