<header>
    {{#post}}
    <div class="{{#if feature_image}}image-header" style="background-image: url({{img_url feature_image}}){{else}}single-header{{/if}}">
        <div class={{#if feature_image}}"image-header-title-nav"{{else}}"header-title-nav"{{/if}}>
            <div class="header-nav">
                 <ul id={{#if feature_image}}"imagearticlenavbar"{{else}}"articlenavbar"{{/if}}>
                   <li><a href="http://tombresson.com"><i class="nav-icon fa fa-home fa-lg fa-fw"></i></a></li>             
                   <li><a href="http://photos.tombresson.com"><i class="nav-icon fa fa-camera-retro fa-lg fa-fw"></i></a></li>
                   <li><a href="http://tombresson.com/projects/"><i class="nav-icon fa fa-flask fa-lg fa-fw"></i></a></li>
                   <li><a href="http://tombresson.com/about/"><i class="nav-icon fa fa-child fa-lg fa-fw"></i></a></li>
                   <li><a href="http://tombresson.com/contact/"><i class="nav-icon fa fa-inbox fa-lg fa-fw"></i></a></li>
                </ul>
            </div>
         </div>
        {{> pagination}}
        <div class="image-article-title">
            <h1 class="post-title">{{title}}</h1>
        </div>
    </div>
    <div class="mini-header">
        <span>
            <ul id="mininavbar">
                <li class="icon"><a class="home" href="http://tombresson.com"><i class="fa fa-home fa-lg fa-fw"></i></a></li> 
                <li><h2>{{title}}</h2></li>
                <li class="icon"><a class="scroll" href="#top"><i class="fa fa-arrow-up fa-lg fa-fw"></i></a></li> 
            </ul>
        </span>
    </div>
    {{/post}}
</header>